<ion-header>
  <ion-row class="c1-header">
   <ion-col size="4" class="menu-icon">
     <ion-icon name="reorder-three"></ion-icon>
   </ion-col>
   <ion-col size="7">
     PÃOBURGER
   </ion-col>
   <ion-col size="1" class="c1-title">
     <ion-icon name="person-circle-outline"></ion-icon>
   </ion-col>
 </ion-row>
 <ion-row > 
    <ion-col size = "6" class = "c1-opcoes">
      <ion-segment [(ngModel)] = "segment">
        <ion-segment-button [value] = "'0'">
          <ion-slides pager="false" class="o1-burger">
          BURGERS
          </ion-slides>
        </ion-segment-button>
      </ion-segment> 
    </ion-col>
      
    <ion-col size = "6" class = "c2-opcoes">
      <ion-segment [(ngModel)] = "segment">
        <ion-segment-button [value] = "'1'">
          <ion-slides pager="false" class="o1-batata">
          BATATA FRITA
          </ion-slides>
        </ion-segment-button>  
      </ion-segment>
    </ion-col>
 </ion-row>
</ion-header>


<ion-content [fullscreen]="true" class="e1-content">

  <ion-grid *ngIf="segment == '0'">
    <ion-row>

    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="segment == '1'">
    <ion-row>

    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button class="b1-compra" expand="full">
    <ion-icon name="cart"></ion-icon>
  </ion-button>
</ion-footer>